
body{
    text-align: center;
}
.services{
    position: relative;
    
}
.contact{
    position: relative;
}
.forms{
    margin-bottom: 20%;
}
#design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}
.darolle1{
    position: absolute;
}
.overlay1{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;

}
.overlay2{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay3{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay4{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay5{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay6{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay7{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay8{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
    
}
.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: black;
    border-radius: 100%;
  }
  h1{
      color: blanchedalmond;
  }
  ol{
      color: blanchedalmond;
  }
  
  
  
