
#jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: black;
    border-radius: 100%;
  }
  h1{
      color: cornsilk;
      font-family: 'Times New Roman', Times, serif;
      margin: 10px;
  }
  p{
      color: cornsilk;
  }
 
  
  img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
    float:right;
    border: solid;
    border-radius: 25px;
  }
  
  body {
    font-family:sans-serif;
    background-image: url(http://bgfons.com/upload/paper_texture329.jpg);
    text-align: center;
  }
  nav{
      display: inline;
  }
  ul li {

    border-radius: 5px;
    max-width: 300px;
    margin-right: 10px;
    padding: 3px;
    border: solid;
    border-width: thin;
    text-align: center;
    flood-opacity: inherit;
    float: inline-start;
  }
  nav{
    position: static;
    background-color: black;
    width: 100%;
    font-size: 25px;
    text-align: center;
  

}
#design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}
.services{
    position: relative;
    
}
.contact{
    position: relative;
}
.forms{
    margin-bottom: 20%;
}

body{
    text-align: center;
}
.services{
    position: relative;
    
}
.contact{
    position: relative;
}
.forms{
    margin-bottom: 20%;
}
#design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}
.darolle1{
    position: absolute;
}
.overlay1{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;

}
.overlay2{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay3{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay4{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay5{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay6{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay7{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay8{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
    
}




   
