img {
    height: auto;
    width: auto;
    max-width: 100x;
    max-height: 100px;
    border-radius: 25px;
  }
body{
    text-align: center;
    background-image: url(http://bgfons.com/upload/paper_texture329.jpg);
    
}
.services{
    position: relative;
    
}
.contact{
    position: relative;
}
.forms{
    margin-bottom: 20%;
}
#projectsdone{
    display: none;
}
#hobbiesandgames{
    display: none;
}
#educationandspecialities{
    display: none;
}
.darolle1{
    position: absolute;
}
.overlay1{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%;

}
.overlay2{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay3{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay4{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay5{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay6{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay7{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
}
.overlay8{
    display: none;
    background-color: black;
    margin-bottom: 12%;
    padding: 5%
    
}
.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: black;
    border-radius: 100%;
  }
  h1{
      color: blanchedalmond;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  ol{
      color: blanchedalmond;
  }
  h4{
      font-style: italic;
  }
  
  
  
