
#jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: black;
    border-radius: 100%;
  }
  h1{
      color: cornsilk;
      font-family: 'Times New Roman', Times, serif;
      margin: 10px;
  }
  p{
      color: cornsilk;
  }
 
  
  img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
    float:right;
    border: solid;
    border-radius: 25px;
  }
  
  body {
    font-family:sans-serif;
    background-image: url(http://bgfons.com/upload/paper_texture329.jpg);
  }
  nav{
      display: inline;
  }
  ul li {

    border-radius: 5px;
    max-width: 300px;
    margin-right: 10px;
    background-color: #848484;
    padding: 3px;
    border: solid;
    border-width: thin;
  }
